<%-include('header') %>
 <form method="GET"  action="/cotacao">
 <input name="cotacao"placeholder="cotação do dolar">
 <input name="quantidade"placeholder="quantidade de dolares">
 <button>converter!</button>
 </form>

<%-include('footer') %>