<%-include('header') %>

 <form method="GET"  action="/cotacao">
    <div class="form-group">
          <label for="cotacao">Cotação do Dolar</label>
          <input type="email" class="form-control" id="dolar" placeholder="cotaçao do dolar" 
           value="<%= cotacao %>" >
    </div>

<div class="form-group">
            <label for="quantidade">Quantidade de Dolares</label>
            <input type="email" class="form-control"  placeholder="Quantidade">
          </div>
        <button type="button" class="btn btn-default">converter!</button>
 </form>
<%/*
    <input name="cotacao"placeholder="cotação do dolar" value="<%= cotacao %>"><br>
    <input name="quantidade"placeholder="quantidade de dolares"><br>
    <button>converter!</button>
*/%>

<%-include('footer') %>