body {
    text-align: center;
    padding: 15px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
  }
h1 img{
    width:489px;
    margin: 20px;
}
input{
    border: 1px solid #000000;
    background: #FDFDFD;
    font-size:20px;
    padding: 10px;
    margin: 2px;
}
button{
    border: 1px solid #000000;
    background: #D8D8D8;
    font-size:20px;
    padding: 10px;
}
.result{
    padding: 10px;
    border: 1px solid #D8D8D8;
    background: #FDFDFD;
}
